@use "./base/reset" as *; 

body {
  overflow-x: hidden;
}

.swiper-pagination {
  position: unset;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: hsla(0, 0%, 39%, 1);
}

.swiper-pagination-bullet-active {
  background: hsl(240, 70%, 60%);
}

.swiper {
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: visible;
}

.swiper-slide {
  background: transparent;
  
  @media screen and (min-width: 768px) {
    width: max-content !important;
  }
}

.swiper-wrapper {
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 20px;
  }
  
  @media screen and (min-width: 1024px) {
    gap: 20px;
  }
}