---
import { Suspense } from "react"
import "../styles/main.scss";
import { globalStyles } from "../stitches.config"

globalStyles()

import { BsFillRecordCircleFill } from "react-icons/bs/index.js";

import { Button } from "../components/button";
import { Card } from "../components/card";
import { Footer } from "../components/Footer";
---

<body>
  <section>
      <Card
        title="ben"
        description="dadaw"
        coverUrl="https://i.pinimg.com/736x/61/a5/a1/61a5a1eec1183ed481e9212a9ff506b0.jpg"
        coverImageDescription="d"
        genres={["bru"]}
        variant="default"
        createdAt={String(new Date().getTime())}
        client:load
      />

    <!-- <Button client:load>
      <BsFillRecordCircleFill /> Button
    </Button>
    
    <Button size="tablet" client:load><BsFillRecordCircleFill />Button</Button>
    <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button> -->
  </section>
  <!-- <Footer client:load /> -->
  <style>
    section {
      display: flex;
      flex-direction: column;
      width: max-content;
      gap: 0.5rem;
      padding: 1rem;
    }
  </style>
</body>
