---
import "../styles/main.scss";
import { BsFillRecordCircleFill } from "react-icons/bs/index.js";

import { Button } from "../components/Button";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
---

<body>
  <section>
    <Button client:load><BsFillRecordCircleFill />Button</Button>
    <Button size="tablet" client:load><BsFillRecordCircleFill />Button</Button>
    <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button>
  </section>

  <Navbar client:load />
  <Footer client:load />

  <style>
    section {
      display: flex;
      flex-direction: column;
      width: max-content;
      gap: 0.5rem;
      padding: 1rem;
    }
  </style>
</body>
