---
import { Header } from "../components/Header/index.tsx"
import FetchPosts from "../components/FetchPosts/index.astro"

let name = "Talita"
---

<html lang="pt-BR">
	<head>
		<title>{name}'s blog</title>
	</head>

	<body>
		<Header {name} />

		<FetchPosts />
	</body>
</html>