---
import Layout from "../layouts/Layout.astro"
import Card from "@/components/Card.astro"
import Section from "@/components/Section.astro"
import Input from "@/components/Form/Input.astro"

import { posts } from "@/post"

const postTags = [...new Set(posts.map((post) => post.tags).flat())]

import at from "@/images/icons/at.svg"
import { AllPosts } from "@/components/Islands/AllPosts"
---

<Layout title="Página inicial | Mystical Reviews">
  <Section title="Publicações Mais Recentes" asTitle>
    <div class="swiper mySwiper flex w-full flex-col gap-6">
      <div class="swiper-wrapper">
        {posts.map((post) => <Card {...post} />)}
      </div>

      <div class="swiper-pagination !static"></div>
    </div>
  </Section>

  <Section
    background="bg-secondary-base text-slate-50"
    title="Inscreva-se na nossa newsletter"
  >
    <p class="text-slate-300">
      Preencha o campo abaixo com o seu e-mail para receber avisos das reviews
      do site, com isso você receberá: Os alertas dos destaques do site. Os
      posts mais recentes do dia. Não se preocupe, você poderá revogar sua
      assinatura a qualquer momento nas configurações.
    </p>

    <form class="flex w-full flex-col gap-6 lg:flex-row lg:gap-8">
      <Input name="email" placeholder="Seu E-mail" leftIcon={at} />

      <button
        type="submit"
        class="shrink-0 rounded bg-accent-base px-6 py-3 font-bold text-slate-50 transition-colors hover:bg-accent-dark lg:w-[220px]"
      >
        Assinar Newsletter
      </button>
    </form>
  </Section>

  <AllPosts client:visible posts={posts} tags={postTags} />
</Layout>
