---
import "../styles/main.scss";
import { BsFillRecordCircleFill } from "react-icons/bs/index.js";

import { Button } from "../components/Button";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
---

<header>
  <Navbar client:load />
</header>

<section>
  <Button client:load><BsFillRecordCircleFill />Button</Button>
  <!-- <Button client:load><BsFillRecordCircleFill />Button</Button> -->
  <!-- <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button> -->
</section>

<Footer client:load />

<style>
  section {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 0.5rem;
    padding: 1rem;
  }
</style>
