---
import '../styles/main.scss'
import { BsFillRecordCircleFill } from 'react-icons/bs';

import { Button } from "../components/Button"
import { Footer } from '../components/Footer'
---
<body>
	<section>
		<Button client:load><BsFillRecordCircleFill />Button</Button>
		<Button size="tablet" client:load><BsFillRecordCircleFill />Button</Button>
		<Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button>

	</section>
	<Footer client:load/>
</body>


<style>
	section {
		display: flex;
		flex-direction: column;
		width: max-content;
		gap: .5rem;
		padding: 1rem;
	}
</style>