---
import "../styles/main.scss";

import { PopupButton, PopupModal } from "../components/popup";
---

<meta charset="UTF-8" />

<body>
  <PopupButton
    client:only="react"
  >
    <div slot="content">Filtrar Por</div>

    <PopupModal slot="modal">Hello world</PopupModal>
  </PopupButton>
  
  <section style={{width: "100%"}}>
    <!-- <Card
        title="ben"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed consectetur mauris. Nunc pretium lorem eu fermentum vulputate. In in vulputate tortor. Etiam elit elit, vulputate vel leo sit amet, rutrum condimentum libero. Ut sit amet lorem gravida, ornare ipsum quis, luctus mauris. Phasellus tempus urna arcu, ut scelerisque nunc iaculis ut. "
        coverUrl="https://i.pinimg.com/736x/61/a5/a1/61a5a1eec1183ed481e9212a9ff506b0.jpg"
        coverImageDescription="d"
        genres={["bru"]}
        variant="default"
        createdAt={String(new Date().getTime())}
        client:load
      /> -->

    <!-- <Button client:load>
      <BsFillRecordCircleFill /> Button
    </Button>
    
    <Button size="tablet" client:load><BsFillRecordCircleFill />Button</Button>
    <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button> -->
  </section>

  <!-- <Navbar client:load />
  <Footer client:load /> -->

  <style>
    section {
      display: flex;
      flex-direction: column;
      width: max-content;
      gap: 0.5rem;
      padding: 1rem;
    }
  </style>
</body>
