---
import "../styles/main.scss"

import { FilterPostsPopup } from "../components/popup/filter-posts";
import { SortPostsPopup } from "../components/popup/sort-posts";
import { Button } from "../components/button";
import { Card } from "../components/card";
import { Title } from "../components/title";
import { Newsletter } from "../components/newsletter";
import { Navbar } from "../components/Navbar";
import { Footer } from "../components/Footer";
---

<meta charset="UTF-8" />

<body>
  <Navbar client:load />

  <FilterPostsPopup client:only="react" />
  <SortPostsPopup client:only="react" />

  <section style={{width: "100%"}}>
    <Title client:load>Hello World</Title>
    <Newsletter client:load />
    <!-- <Card
        title="ben"
        description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed consectetur mauris. Nunc pretium lorem eu fermentum vulputate. In in vulputate tortor. Etiam elit elit, vulputate vel leo sit amet, rutrum condimentum libero. Ut sit amet lorem gravida, ornare ipsum quis, luctus mauris. Phasellus tempus urna arcu, ut scelerisque nunc iaculis ut. "
        coverUrl="https://i.pinimg.com/736x/61/a5/a1/61a5a1eec1183ed481e9212a9ff506b0.jpg"
        coverImageDescription="d"
        genres={["bru"]}
        variant="default"
        createdAt={String(new Date().getTime())}
        client:load
      /> -->

    <!-- <Button client:load>
      <BsFillRecordCircleFill /> Button
    </Button>
    
    <Button size="tablet" client:load><BsFillRecordCircleFill />Button</Button>
    <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button> -->
  </section>

<<<<<<< HEAD
  <header>
    <Navbar client:load />
  </header>
=======
  <!-- <Navbar client:load />
  <Footer client:load /> -->
>>>>>>> c4542009209e2e70c380b89cb23dcd46dd1e718f

<section>
  <!-- <Button client:load><BsFillRecordCircleFill />Button</Button> -->
  <!-- <Button client:load><BsFillRecordCircleFill />Button</Button> -->
  <!-- <Button size="desktop" client:load><BsFillRecordCircleFill />Button</Button> -->
</section>

<Footer client:load />
</body>


