---
import "@/styles/main.scss";
import { CardProps } from "@/components/Card";
import { Post } from "@/components/layout/pages/post";

import { Navbar } from "@/components/Navbar";
import { Footer } from "@/components/Footer";
import { getCards, notion as notionClient } from "@/data";
import { Client } from "@notionhq/client";
import { NotionToMarkdown } from "notion-to-md";
import { marked } from "marked";

export async function getStaticPaths() {
  const { slugify } = await import("@/slugify");
  const cards = await getCards();

  const notion2Markdown = new NotionToMarkdown({
    notionClient,
  });

  const cardsWithContent = await Promise.all(
    cards.map(async ({ title, ...props }) => {
      let content = "";

      try {
        const pageInMDBlocks = await notion2Markdown.pageToMarkdown(
          props.notionPageID
        );
        const pageContentInMarkdown =
          notion2Markdown.toMarkdownString(pageInMDBlocks);
        content = marked.parse(pageContentInMarkdown);
      } catch (error) {
        console.log("errored no html");
      }

      return {
        params: {
          slug: slugify(title),
        },
        props: {
          title,
          content,
          ...props,
        },
      };
    })
  );

  return cardsWithContent;
}
const card = Astro.props as CardProps & {
  content: string;
};
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- favicon -->
    <meta name="generator" content={Astro.generator} />

    <title>{card.title} - MysticalReviews</title>
  </head>

  <body>
    <Navbar currentPage="" client:only="react" />

    <Post {...card} client:only="react" />

    <Footer client:only="react" />
  </body>
</html>
