---
import "@/styles/main.scss";
import { CardProps } from "@/components/Card"
import { Post } from "@/components/layout/pages/post"

import { Navbar } from "@/components/Navbar";
import { Footer } from "@/components/Footer";

export async function getStaticPaths() {
  const { slugify } = await import("@/slugify")

  const { cards } = await import("@/data")

  return cards.map(({ title, ...rest }) => ({
    params: {
      slug: slugify(title)
    },
    props: {
      title,
      ...rest
    }
  }))
}

const card = Astro.props as CardProps
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- favicon -->
    <meta name="generator" content={Astro.generator} />

    <title>{card.title} - MysticalReviews</title>
  </head>

  <body>
    <Navbar currentPage="" client:only="react" />

    <Post {...card} client:only="react" />

    <Footer client:only="react" />
  </body>
</html>